Copie o link abaixo em seu navegador.




<div class="btn-group">
    <a href="https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/dns/dns-query"
        class="btn btn-primary copy-link">Copiar</a>
</div>
<pre dir=ltr style=text-align: left; font: arial>
    https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/dns/dns-query
    </pre>
<h4>Configurar DoH no seu navegador</h4>
 Existem vários navegadores compatíveis com DNS sobre HTTPS (DoH). Este protocolo permite
 você criptografa sua conexão para 1.1.1.1 para proteger suas consultas de DNS contra invasões de privacidade e adulteração.

Alguns navegadores podem já ter esta configuração habilitada.
<br>
 <h5>Mozilla Firefox</h5>
 Selecione o botão <b>menu</b> > <b>Configurações</b>.No menu Geral, role para baixo para acessar <b>Configurações de rede</b>. Selecione <b>Configurações</b> . Selecione <b>Ativar DNS sobre HTTPS</b>.
<br>
 <h5>Google Chrome</h5>
 Selecione o menu <b>três pontos</b> em seu navegador > <b>Configurações</b>.
 Selecione <b>Privacidade e segurança</b> > <b>Segurança</b>.
 Role para baixo e ative <b>Usar DNS seguro</b>.
 <br>
 <h5>Microsoft Edge</h5>
 Selecione o menu <b>três pontos</b> em seu navegador > <b>Configurações</b>.
 Selecione <b>Privacidade, Pesquisa e Serviços</b> e role para baixo até <b>Segurança</b>.
 Ativar <b>Usar DNS seguro</b>.
 Selecione Escolher um provedor de serviços.

