



{% macro tg_proxy_btn(d) -%}
<div class="btn-group">
    {% set hexuuid=hconfigs[ConfigEnum.shared_secret].replace("-","") %}
    <a href="tg://proxy?server={{d.domain}}&amp;port=443&amp;secret=ee{{hexuuid}}{{hconfigs[ConfigEnum.telegram_fakedomain].encode('utf-8').hex()}}"
        class="btn btn-primary orig-link">Proxy para o telegram <span class="badge ltr badge-info">{{d.alias or d.domain}}</span></a>
</div>
{%- endmacro -%}

Clique em um dos links a seguir, no telegrama você verá uma janela que contém <b>Conectar Proxy</b>. Clique nele e funcionará.
<br />

% for d in domains:
    % if d.mode !='cdn' and d.mode !='auto_cdn_ip'
        {{tg_proxy_btn(d)}}
    % endif
% endfor